@media screen and (min-width: 1200px) {
  .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    flex-direction: row;
    height: auto;
  }

  .incon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 50%;
    height: 4vw;
  }

  .logo_icon {
    display: inline;
    max-width: 25%;
    height: auto;
    padding: 0.5%;
    text-align: center;
    align-items: center;
  }

  body {
    font-size: 1.5vw;
    margin: 0px;
    color: #CADCFC;
    background-color: #8AB6F9;
  }

  .incon ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #8AB6F9;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .incon li {
    border-right: 2px solid #00246B;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .incon li:last-child {
    border-right: none;
  }

  .incon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5vw; 
    color: #00246B;
    text-decoration: none;
    border: 2px solid transparent;
    text-align: center;
    box-sizing: border-box; 
    line-height: 1; 
  }

  .Massage_Us {
    font-size: large;
    display: inline;
    text-align: left;
  }
  
  .submit {
    width: 100%;
    height: 4vh;
    text-align: center;
    gap: 10%;
    margin-top: 1%;
  }
  
  .nama, .tgg, .JenisK, .Pesan {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 10%;
    padding: 1% 0;
  }
  
  .submit {
    gap: 10%;
    text-align: center;
  }
  
  .nama_label, .tgg_label, .JenisK_label, .Pesan_label {
    width: 25%;
  }
  
  .JenisK_label {
    display: inline;
  }
  
  .nama_input, .tgg_input {
    width: 75%;
    height: 4vh;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .text, .date, textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  input[type="text"],input[type="date"],input[type="submit"],textarea {
    font-size: 0.8em;
    }

  .Massage_Us {
    font-size: 2em;
    display: inline;
    text-align: left;
  }

  input[type="radio"] {
    width: 1.1vw;
    height: 1.1vw;
    border: 2px solid #00246B; 
    border-radius: 50%;
    background: #000000; 
  }
  
  .Text_input {
    width: 75%;
    height: 4vh;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }  

  .spa {
    display: flex;
    direction: column;
    justify-content: space-between;
    height: 24vh;
  }

  .isi {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 2em;
    display: flex;
    flex-direction: row;
  }
  
  .Our_Profile {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 1%;
  }
  
  .profile {
    border: 1px solid black;
    width: 25%;
  }
  
  .descrip {
    border: 1px solid black;
    width: 74%;
  }
  
  .prof_box1 {
    border: 1px solid rgb(235, 11, 11);
  }
  
  .desc_box1 {
    border: 1px solid black;
  }
  
  .set {
    width: 40%;
    font-size: 1.3em;
  }
  
  .output {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    flex-direction: column;
  }  

  .incon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
    height: 10vw;
  }

  .logo_icon {
    display: inline;
    max-width: 35%;
    height: auto;
    padding: 0.5%;
    text-align: center;
    align-items: center;
    font-size: 2em;
  }
  
  body {
    font-size: 2vw;
    margin: 0;
    color: #CADCFC;
    background-color: #8AB6F9;
  }

  .incon ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #8AB6F9;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .incon li {
    height: 10vw;
    border-right: 2px solid #00246B;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .incon li:last-child {
    border-right: none;
  }
  
  .incon a {
    width: 100%;
    height: 100%;
    padding: 1vw;          
    color: #00246B;
    text-decoration: none;
    border: 2px solid transparent;
    text-align: center;      
    box-sizing: border-box;
    font-size: 2em;        
    line-height: normal;   
    vertical-align: top;   
  }

  .incon li:last-child {
    border-right: none;
  }

  .incon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5vw;
    color: #00246B;
    text-decoration: none;
    border: 2px solid transparent;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
    font-size: 2em;
  }

  .Massage_Us {
    font-size: 2em;
    display: inline;
    text-align: center;
  }
  
  .submit {
    width: 100%;
    height: 4vh;
    text-align: center;
    gap: 10%;
    margin-top: 1%;
  }

  .nama, .tgg, .JenisK, .Pesan {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 10%;
    padding: 1% 0;
  }
  
  .submit {
    gap: 10%;
    text-align: center;
  }
  
  .nama_label, .tgg_label, .JenisK_label, .Pesan_label {
    width: 25%;
    font-size: 1.5em;
  }
  
  .JenisK_input{
    font-size: 1.4em;
  }
  .JenisK_label {
    display: inline;
  }

  input[type="text"],input[type="date"],input[type="submit"],textarea {
  font-size: 1.2em;
  }



  input[type="radio"] {
    width: 1em;
    height: 1em;
    border: 2px solid #00246B; 
    border-radius: 50%;
    background: #000000; 
  }
  
  .JenisK_input{
    width: 75%;
    height: 4vh;
  }

  .nama_input, .tgg_input,.JenisK_input{
    width: 75%;
    height: 4vh;
    border: 1px solid #8AB6F9;
    box-sizing: border-box;
  }
  
  .text, .date, textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  textarea{
    resize: vertical;
    height: 10vh;
  }


  .Pesan_label{
    height: 9vh;
  }
  .Text_input1{
    text-align: left;
    vertical-align: top;
  }
  
  .Text_input {
    width: 75%;
    height: 10vh;
    border: 1px solid #8AB6F9;
    box-sizing: border-box;
  }  

  .spa {
    display: flex;
    flex-direction: column;
    height: 24vh;
    gap: 20%;
  }

  .isi {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 2em;
    display: flex;
    flex-direction: row;
  }
  
  .Our_Profile {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 1%;
  }
  
  .profile {
    border: 1px solid black;
    width: 25%;
  }
  
  .descrip {
    border: 1px solid black;
    width: 74%;
  }
  
  .prof_box1 {
    border: 1px solid rgb(235, 11, 11);
  }
  
  .desc_box1 {
    border: 1px solid black;
  }
  
  .set {
    width: 100%;
    font-size: 1.3em;
  }
  
  .output {
    width: 100%;
    font-size: 2.4em;
  }
}

header {
  color: #CADCFC;
  background-color: #00246B;
}

.incon li:last-child {
  border-right: none;
}

section .spec {
  margin: 5% 8%;
}

.Home {
  width: 100%;
}

a:hover {
  background-color: #CADCFC;
  border: 2px solid #ccc;
  width: 100%;
  height: 100%;
}

